body {
  background-color: #efefef ;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden !important;
}
:root{
  --bg-nav: #3f7d58;
}

.bg-nav {
  background-color: #3f7d58 !important;
}

.bg-section {
  background-color: #efefef;
}

@media (min-width: 992px) { 
  .w-lg-25 {
    width: 25% !important;
  }
}

textarea {
  white-space: pre-line;
}

.bg-button {
  background-color: #ec5228;
}

.text-nav {
  color: #3f7d58 !important;
}

.logo-2 {
  width: 150px;
  aspect-ratio: 9/4;
}

.text-section {
  color: #efefef;
}
.text-btn {
  color: #ffcc00;
}
.text-default {
  color: #333333;
}

.cursor-pointer:hover {
  cursor: pointer !important ;
}
.transition-all {
  transition: all 0.5s ease !important;
}
.elong:hover {
  transform: scale(1.1);
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.great {
  font-family: "Great Vibes", cursive;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #efefef;
}

::-webkit-scrollbar-thumb {
  background: #3f7d58;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e5c41;
}
* {
  scrollbar-color: #3f7d58 #efefef;
  scrollbar-width: thin;
}
